PORT=4000
HOST=0.0.0.0
SUPABASE_URL= ur supabase url
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CORS_ORIGIN=http://localhost:3000
PAYSTACK_SECRET_KEY=
PAYSTACK_CALLBACK_URL=http://localhost:3000/payment/callback
